<!DOCTYPE html>
<html>
<head>
  <title>Carogram</title>
  <link href="/stylesheets/style.css" rel="stylesheet" type="text/css" />
  <script src="/javascripts/jquery.js" type="text/javascript" charset="utf-8"></script>
  <script src="/javascripts/underscore.js" type="text/javascript" charset="utf-8"></script>
  <script src="/javascripts/carogram.js" type="text/javascript" charset="utf-8"></script>
  <script src="/javascripts/ig.js" type="text/javascript" charset="utf-8"></script>
  <script type="text/javascript" src="http://use.typekit.com/mwk6vbu.js"></script>
  <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
</head>
<body>
<div id="back-image"><img style="opacity:0.2;filter:alpha(opacity=20);" src="images/placeholder.png" height="400" width="400"/></div>
<div id="forward-image"><img style="opacity:0.2;filter:alpha(opacity=20);" src="images/placeholder.png" height="400" width="400"/></div>
<div id="container">
<div id="masthead"></div>
<header>
  <div class="header-title">Carogram</div>
  <div id="hints">Hey, new photos have been uploaded on Instagram!<br>Hit "reload" to reset your Carogram.</div><div id="reload"><button class="submit">Reload</button></div>
</header>
<div id="wrapper">
  <div id="content">
    <div id="photo"><img src="images/placeholder.png" height="500" width="500"/></div>
    <div id="meta">
      <div id="avatar"><img class="dropshadow" src="" height="100" width="100"/></div>
      <div id="description"><span class="author">Photo by <span id="post-username"></span></span><br><br><span id="post-caption"></span></div>
      <div id="likes">
        <div id="likes-heart"><img src="" /></div>
        <div id="likes-container">LIKES: <span id="likes-count"></span></div>
      </div>
    </div>
    <div class="clear"></div>
    <div id="typecomment">
      <p class="author">Type your comment</p>
      <form id="submit-form" enctype="multipart/form-data">
        <div style="float: left;"><input id="leavecomment" type="text" name="leavecomment" /></div>
        <div><button id="submit-button" class="submit">Submit</button></div>
      </form>
    </div>
    <div id="comments">
      <ul></ul>
    </div>
    <div class="clear"></div>
  </div>
  <div class="clear"></div>
</div>
</div>
<div class="push"></div>
<footer>Created by <a href="http://xhatch.com" target="_blank">Xhatch Interactive, LLC. </a> &copy;2011</footer>
<div id="ig-root"></div>
<ul style='display:none;'>
  <li id="comment-template">
    <div>
      <div id="comment-user">
        <a href="#"><img class="dropshadow" src="" border="0"/></a>
      </div>
      <div id="comment-body">
        <p class="author"></p>
        <p class="comment-text"></p>
      </div>
      <div class="clear"></div>
    </div>
  </li>
</ul>
</body>
</html>