!!! 5
html
  head
    title Carogram
    link(href='/stylesheets/style.css', rel='stylesheet', type='text/css')
    script(src='/javascripts/jquery.js', type='text/javascript', charset='utf-8')
    script(src='/javascripts/carogram.auth.js', type='text/javascript', charset='utf-8')
    script(src='/javascripts/ig.js', type='text/javascript', charset='utf-8')
    script(type='text/javascript', src='http://use.typekit.com/mwk6vbu.js')
    script(type='text/javascript')
      try{Typekit.load();}catch(e){}
  body
    #container
      #masthead
      #login-wrapper
        header
          .header-title Carogram
          div
            h2
              | Cartogram is an Instagram API web app that allows you to look at a collection of
              | photos like a slide carousel.
          div
            button#login-button.minimal Login with Instagram
        #login-content
          #photo
            img(src='http://images.instagram.com/media/2011/05/09/71bbfabca46f4c5c8da8b15059099d62_7.jpg', height='500', width='500')
          .clear
      .push
      footer
        | Created by
        a(href='http://xhatch.com', target='_blank') Xhatch Interactive, LLC.
        | ©2011
      #ig-root
